.bg_we_zax {
    /* background:linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),url(../../../Image/bg1.png); */
    /* background-image: url(../../../Image/bg1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto; */
    background-color:var(--color);
    height:35vh !important;
    padding-top: 3%;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    box-shadow: -1px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 10px 5px 0px rgba(0,0,0,0.75);
    margin-bottom: 5%;
  }
  
  .we_zax_heading h4 {
    padding-top: -5% !important;
 margin-top: -3%;
    text-align: start;
    color:white !important;
    font-family: var(--fontFamily);
    font-weight: 600;
  }
  .bg_we_zax p {
    color: white;
    /* padding-top: 2%; */
    font-size: 20px;
    text-align: justify;
    font-family: var(--fontFamily);
    
  }

  .inventing_img img {
    max-width: 60%; /* Limit maximum width to 50% of the container */
    max-height: 37vh; /* Limit maximum height to 33% of the viewport height */
    border-radius: 50%; /* Make the image circular */
    margin-top: -10%;
  }

  
  @media (max-width: 550px) {
    .we_zax_heading h1 {
      font-size: 30px;
      font-family: var(--fontFamily);
    }
    .we_zax_heading p {
      padding-bottom: -50px;
    }
    .bg_we_zax{
      height: auto;
    }
    .inventing_img img{
      width: 100%;
      height: auto;
      /* padding-top: 50%;
      padding-bottom: 15%; */
    }
    
    

  }
  @media (max-width: 1350px) and (min-width: 1300px)
{
  .bg_we_zax{
    height: 29vh !important;
  }
  .inventing_img img{
    width: 100%;
    margin-top: 2%;
    height: 26vh !important;

  }
}
  @media (max-width:840px) and (min-width:600px)
  {
    .we_zax_heading h1{
           font-size: 30px;
           margin-top: -12%;
    }
    .bg_we_zax{
      height: 34vh !important;
    }
    .inventing_img img{
      width: 100%;
      height: 32vh;
      /* padding-top: 50%;
      padding-bottom: 15%; */
    }
  }

  @media (max-width:580px){
  
      .we_zax_heading h1{
             font-size: 30px;
             margin-top: -12%;
      }
      .bg_we_zax{
        height: auto !important;
      }
      .inventing_img img{
        width: 100%;
        height: auto;
        margin-top: 5%;
        /* padding-top: 50%;
        padding-bottom: 15%; */
      }
  }
  