.main_contact{
    padding-top: 4%;
    display: flex;
    justify-content: center;
}
.bg_contact{
    background-image: url(../../../Image/contactbgImage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: auto;
}
.conatact_image img{
width: 100%;
height: auto;
}
.contact_form{
    border: 2px solid var(--color);
padding: 2%;
text-align: start;
}
.contact_form h4{
    color: var(--color);
    text-align: start;
    
}
.contact_form label{
    color: var(--color);
    font-weight: 600;
}
.contact_form input{
    width: 100%;
    border: 2px solid var(--color);
    outline: none;
    padding-left: 1%;
}
.contact_form textarea{
    width: 100%;
    border: 2px solid var(--color);
    outline: none;
    padding-left: 1%;
}
.contact_form Button{
    color: white;
padding: 1.5% 5%;
}
.what_app_main{
    display: flex;
    justify-content: end;
    margin-top: 3%;
}
.what_app_btn{
    background-color: rgb(50,186,2) !important;
    color: white!important;
    padding: 3% 5% !important;
    margin-top:4% !important;
}
.what_app_icon{
    color:  white !important;
    font-size: 40px !important;
margin-top :10% !important;
margin-bottom: 10% !important;
}
.what_app_icon_main{
    background-color: rgb(50,186,2);
    border-radius: 50%;
    height: auto;
}