.courses_main{
    /* padding-top: 1%; */
}
.courses_main h1{
    color: var(--color);
    font-family: var(--fontFamily);
}
.courses_images{
    display: flex;
    justify-content: center;
}
.course_image img{
width: 100%;
height: auto;
}
.search_course{
  padding-left: 4%;
  outline: none;
  border: 2px solid var(--color);
}

.course_image{
    text-align: start;
    font-family: var(--fontFamily);
  }
  .course_image p{
    margin: -1% 0%;
    margin-top: 1%;
    font-size: 16px;
  }
  
  .course_image h5{
    color: black;
  }